.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  background: #cecece;
  overflow-y: auto;
  color: #222;

  .content {
    flex: 1;
    padding: 20px;
  }
}

.footer {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  color: #fff;
  height: 70px;
  background: #333;
}
